src/main/mule/mobile-experience-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
  xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
">

  <!-- GET /customers/{customerGlobalId} - Business Logic Flow -->
  <flow name="get-mobile-financial-summary-business-logic" doc:name="get-mobile-financial-summary-business-logic">
    <try doc:name="Try">
      <ee:parallel doc:name="Parallel">
        <http:request method="GET" config-ref="Customers_Process_API_Config" path="/api/customers/{customerGlobalId}" doc:name="Get Customer">
          <http:uri-params><![CDATA[#[{customerGlobalId: vars.customerGlobalId}]]]></http:uri-params>
        </http:request>
        
        <http:request method="GET" config-ref="Bank_Accounts_Process_API_Config" path="/api/bank-accounts/accounts" doc:name="Get Financial Summary">
          <http:query-params><![CDATA[#[{
            "customerGlobalId": vars.customerGlobalId
          }]]]></http:query-params>
        </http:request>
      </ee:parallel>

      <ee:transform doc:name="Aggregate Financial Summary">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/json
var customer = payload[0]
var financialSummary = payload[1]
var accounts = financialSummary.accounts default []
var creditCards = financialSummary.creditCards default []
var totalBalance = accounts map ($.balance default 0) reduce ($ + $$) default 0
---
{
  customer: {
    globalId: customer.globalId,
    customerNumber: customer.customerNumber,
    name: (customer.party.firstName default "") ++ " " ++ (customer.party.lastName default "")
  },
  totalBalance: totalBalance,
  accounts: accounts map ((account) -> {
    globalId: account.globalId,
    accountNumber: account.accountNumber,
    accountType: account.accountType,
    accountName: account.accountName,
    balance: account.balance,
    availableBalance: account.availableBalance,
    currency: account.currency
  }),
  creditCards: creditCards map ((card) -> {
    globalId: card.globalId default card.id,
    cardNumber: card.cardNumber,
    cardType: card.cardType,
    availableCredit: card.availableCredit,
    creditLimit: card.creditLimit
  })
}]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <set-variable value="200" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
      
      <error-handler>
        <on-error-propagate type="HTTP:REQUEST" enableNotifications="true" logException="true" doc:name="HTTP Error">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "SERVICE_ERROR",
    message: "An error occurred while fetching financial summary",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- GET /customers/{customerGlobalId}/accounts/{accountGlobalId}/transactions - Get Transactions -->
  <flow name="get-account-transactions-flow" doc:name="get-account-transactions-flow">
    <http:listener doc:name="GET /customers/{customerGlobalId}/accounts/{accountGlobalId}/transactions" config-ref="HTTP_Listener_config" path="/api/mobile/customers/{customerGlobalId}/accounts/{accountGlobalId}/transactions" allowedMethods="GET"/>
    
    <try doc:name="Try">
      <http:request method="GET" config-ref="Bank_Accounts_Process_API_Config" path="/api/bank-accounts/accounts/{accountGlobalId}/transactions" doc:name="Get Transactions">
        <http:uri-params><![CDATA[#[{accountGlobalId: attributes.uriParams.accountGlobalId}]]]></http:uri-params>
        <http:query-params><![CDATA[#[attributes.queryParams default {}]]]></http:query-params>
      </http:request>

      <set-variable value="200" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
      
      <error-handler>
        <on-error-propagate type="HTTP:REQUEST" enableNotifications="true" logException="true" doc:name="HTTP Error">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "SERVICE_ERROR",
    message: "An error occurred while fetching transactions",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- PUT /customers/{customerGlobalId}/accounts/{accountGlobalId}/transactions/{transactionGlobalId}/dispute - Dispute Transaction -->
  <flow name="dispute-transaction-flow" doc:name="dispute-transaction-flow">
    <http:listener doc:name="PUT /customers/{customerGlobalId}/accounts/{accountGlobalId}/transactions/{transactionGlobalId}/dispute" config-ref="HTTP_Listener_config" path="/api/mobile/customers/{customerGlobalId}/accounts/{accountGlobalId}/transactions/{transactionGlobalId}/dispute" allowedMethods="PUT"/>
    
    <try doc:name="Try">
      <http:request method="PUT" config-ref="Bank_Accounts_Process_API_Config" path="/api/bank-accounts/accounts/{accountGlobalId}/transactions/{transactionGlobalId}" doc:name="Dispute Transaction">
        <http:uri-params><![CDATA[#[
          {
            "accountGlobalId": attributes.uriParams.accountGlobalId,
            "transactionGlobalId": attributes.uriParams.transactionGlobalId
          }
        ]]]></http:uri-params>
        <http:body><![CDATA[#[payload]]]></http:body>
      </http:request>

      <set-variable value="200" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
      
      <error-handler>
        <on-error-propagate type="HTTP:REQUEST" enableNotifications="true" logException="true" doc:name="HTTP Error">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "SERVICE_ERROR",
    message: "An error occurred while disputing transaction",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- PUT /customers/{customerGlobalId}/cards/{cardGlobalId}/controls - Update Card Controls -->
  <flow name="update-card-controls-flow" doc:name="update-card-controls-flow">
    <http:listener doc:name="PUT /customers/{customerGlobalId}/cards/{cardGlobalId}/controls" config-ref="HTTP_Listener_config" path="/api/mobile/customers/{customerGlobalId}/cards/{cardGlobalId}/controls" allowedMethods="PUT"/>
    
    <try doc:name="Try">
      <http:request method="PUT" config-ref="Bank_Accounts_Process_API_Config" path="/api/bank-accounts/cards/{cardGlobalId}" doc:name="Update Card Controls">
        <http:uri-params><![CDATA[#[{cardGlobalId: attributes.uriParams.cardGlobalId}]]]></http:uri-params>
        <http:body><![CDATA[#[payload]]]></http:body>
      </http:request>

      <set-variable value="200" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
      
      <error-handler>
        <on-error-propagate type="HTTP:REQUEST" enableNotifications="true" logException="true" doc:name="HTTP Error">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "SERVICE_ERROR",
    message: "An error occurred while updating card controls",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

</mule>
