src/main/mule/mobile-experience-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger"
  xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
  xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
  http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd

http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd">

  <!-- GET /customers/{customerGlobalId} - Business Logic Flow -->
  <flow name="get-mobile-financial-summary-business-logic" doc:name="get-mobile-financial-summary-business-logic">
    <try doc:name="Try">
      <json-logger:logger doc:name="Log request" config-ref="JSON_Logger_Config" message="#['GET financial summary - customerGlobalId: ' ++ (vars.customerGlobalId default 'n/a')]"/>
      <scatter-gather doc:name="Scatter-Gather" doc:id="b7d2bb7e-1628-451d-830b-7dd8dcca4034">
        <route>
          <http:request doc:name="Get Customer" doc:id="209b1ec3-c79a-4794-9616-cb935f2a534b" config-ref="Customers_Process_API_Config" path="/api/customers/{customerGlobalId}">
            <http:uri-params><![CDATA[#[output application/java
---
{
  "customerGlobalId": vars.customerGlobalId
}]]]></http:uri-params>
          </http:request>
        </route>
        
        <route>
          <http:request doc:name="Get Financial Summary" doc:id="b8fbb0a9-aed8-4f17-9bb4-b3facb92285a" config-ref="Bank_Accounts_Process_API_Config" path="/api/accounts">
            <http:query-params><![CDATA[#[output application/java
---
{
  "customerGlobalId": vars.customerGlobalId
}]]]></http:query-params>
          </http:request>
        </route>
      </scatter-gather>

      <ee:transform doc:name="Aggregate Financial Summary">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/json
var customer = payload[0].payload
var financialSummary = payload[1].payload
var accounts = financialSummary.accounts default []
var cards = financialSummary.cards default []
var totalBalance = financialSummary.totalBalance default (accounts map ($.balance default 0) reduce ($ + $$) default 0)
---
{
  customer: {
    globalId: customer.globalId,
    customerNumber: customer.customerNumber,
    name: (customer.party.firstName default "") ++ " " ++ (customer.party.lastName default "")
  },
  totalBalance: totalBalance,
  accounts: accounts map ((account) -> {
    globalId: account.globalId,
    accountNumber: account.accountNumber,
    accountType: account.accountType,
    accountName: account.accountName,
    balance: account.balance,
    availableBalance: account.availableBalance,
    currency: account.currency
  }),
  cards: cards map ((card) -> {
    globalId: card.globalId default card.id,
    cardNumber: card.cardNumber,
    cardType: card.cardType,
    availableCredit: card.availableCredit,
    creditLimit: card.creditLimit
  })
}]]></ee:set-payload>
        </ee:message>
      </ee:transform>
      <json-logger:logger doc:name="Log success" config-ref="JSON_Logger_Config" message="#['GET financial summary success - customer: ' ++ (payload.customer.name default 'n/a') ++ ', accounts: ' ++ (sizeOf(payload.accounts default [])) ++ ', cards: ' ++ (sizeOf(payload.cards default [])) ++ ', totalBalance: ' ++ (payload.totalBalance default 0)]" tracePoint="AFTER_REQUEST"/>
      <set-variable value="200" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
      
      <error-handler>
        <on-error-propagate type="HTTP:CONNECTIVITY" enableNotifications="true" logException="true" doc:name="HTTP Error">
          <json-logger:logger doc:name="Log error" config-ref="JSON_Logger_Config" message="#['GET financial summary failed - customerGlobalId: ' ++ (vars.customerGlobalId default 'n/a') ++ ', error: ' ++ (error.description default 'unknown')]" tracePoint="EXCEPTION" priority="ERROR"/>
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "SERVICE_ERROR",
    message: "An error occurred while fetching financial summary",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- GET /customers/{customerGlobalId}/accounts/{accountGlobalId}/transactions - Get Transactions -->
  <flow name="get-account-transactions-business-logic" doc:name="get-account-transactions-business-logic">
    <try doc:name="Try">
      <json-logger:logger doc:name="Log request" config-ref="JSON_Logger_Config" message="#['GET transactions - accountGlobalId: ' ++ (vars.accountGlobalId default 'n/a') ++ ', limit: ' ++ (vars.limit default attributes.queryParams.limit default '100')]"/>
      <http:request config-ref="Bank_Accounts_Process_API_Config" path="/api/accounts/{accountGlobalId}/transactions" doc:name="Get Transactions">
        <http:uri-params><![CDATA[#[{accountGlobalId: vars.accountGlobalId}]]]></http:uri-params>
        <http:query-params><![CDATA[#[{
          limit: vars.limit default attributes.queryParams.limit default "100",
          offset: vars.offset default attributes.queryParams.offset default "0"
        }]]]></http:query-params>
      </http:request>

      <json-logger:logger doc:name="Log success" config-ref="JSON_Logger_Config" message="#['GET transactions success - accountGlobalId: ' ++ (vars.accountGlobalId default 'n/a')]" tracePoint="AFTER_REQUEST"/>
      <set-variable value="200" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
      
      <error-handler>
        <on-error-propagate type="HTTP:CONNECTIVITY" enableNotifications="true" logException="true" doc:name="HTTP Error">
          <json-logger:logger doc:name="Log error" config-ref="JSON_Logger_Config" message="#['GET transactions failed - accountGlobalId: ' ++ (vars.accountGlobalId default 'n/a') ++ ', error: ' ++ (error.description default 'unknown')]" priority="ERROR" tracePoint="EXCEPTION"/>
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "SERVICE_ERROR",
    message: "An error occurred while fetching transactions",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- PUT /customers/{customerGlobalId}/accounts/{accountGlobalId}/transactions/{transactionGlobalId}/dispute - Dispute Transaction -->
  <flow name="dispute-transaction-business-logic" doc:name="dispute-transaction-business-logic">
    <json-logger:logger doc:name="Log request" config-ref="JSON_Logger_Config" message="#['PUT dispute - accountGlobalId: ' ++ (vars.accountGlobalId default 'n/a') ++ ', transactionGlobalId: ' ++ (vars.transactionGlobalId default 'n/a') ++ ', disputeStatus: ' ++ (payload.disputeStatus default 'n/a')]"/>
    <ee:transform doc:name="Transform Request" doc:id="d663b174-9959-4939-9556-256570d80c31" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  disputeStatus: payload.disputeStatus default "PENDING",
  disputeReason: payload.disputeReason default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<try doc:name="Try">
			<http:request doc:name="Dispute Transaction" doc:id="eb16b8ba-0887-48b2-9307-66f5e80ecd24" path="/api/accounts/{accountGlobalId}/transactions/{transactionGlobalId}" config-ref="Bank_Accounts_Process_API_Config" method="PUT">
				<http:uri-params ><![CDATA[#[%dw 2.0
output application/java
---
{
    "accountGlobalId": vars.accountGlobalId,
    "transactionGlobalId": vars.transactionGlobalId
  }]]]></http:uri-params>
			</http:request>
			<json-logger:logger doc:name="Log success" config-ref="JSON_Logger_Config" message="#['PUT dispute success - transactionGlobalId: ' ++ (vars.transactionGlobalId default 'n/a')]" tracePoint="AFTER_REQUEST"/>
			<set-variable value="200" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
      
      <error-handler>
        <on-error-propagate type="HTTP:CONNECTIVITY" enableNotifications="true" logException="true" doc:name="HTTP Error">
          <json-logger:logger doc:name="Log error" config-ref="JSON_Logger_Config" message="#['PUT dispute failed - transactionGlobalId: ' ++ (vars.transactionGlobalId default 'n/a') ++ ', error: ' ++ (error.description default 'unknown')]" tracePoint="EXCEPTION" priority="ERROR"/>
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "SERVICE_ERROR",
    message: "An error occurred while disputing transaction",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- PUT /customers/{customerGlobalId}/cards/{cardGlobalId}/controls - Update Card Controls -->
  <flow name="update-card-controls-business-logic" doc:name="update-card-controls-business-logic">
    <json-logger:logger doc:name="Log request" config-ref="JSON_Logger_Config" message="#['PUT card controls - cardGlobalId: ' ++ (vars.cardGlobalId default 'n/a')]"/>
    <ee:transform doc:name="Ensure Body">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if (payload != null and payload != "" and payload is Object) 
  payload 
else 
  {}]]></ee:set-payload>
      </ee:message>
    </ee:transform>
    <try doc:name="Try">
			<http:request doc:name="Update Card Controls" doc:id="44ec76b6-0f9a-4203-addf-8a7cb594f809" config-ref="Bank_Accounts_Process_API_Config" method="PUT" path="/api/cards/{cardGlobalId}">
				<http:uri-params ><![CDATA[#[%dw 2.0
output application/java
---
{cardGlobalId: vars.cardGlobalId}]]]></http:uri-params>
			</http:request>
			<json-logger:logger doc:name="Log success" config-ref="JSON_Logger_Config" message="#['PUT card controls success - cardGlobalId: ' ++ (vars.cardGlobalId default 'n/a')]" tracePoint="AFTER_REQUEST"/>
			<set-variable value="200" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
      
      <error-handler>
        <on-error-propagate type="HTTP:CONNECTIVITY" enableNotifications="true" logException="true" doc:name="HTTP Error">
          <json-logger:logger doc:name="Log error" config-ref="JSON_Logger_Config" message="#['PUT card controls failed - cardGlobalId: ' ++ (vars.cardGlobalId default 'n/a') ++ ', error: ' ++ (error.description default 'unknown')]" tracePoint="EXCEPTION" priority="ERROR"/>
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "SERVICE_ERROR",
    message: "An error occurred while updating card controls",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

</mule>
