src/main/mule/mobile-experience-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
  xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
  http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
">

  <!-- GET /customers/{customerGlobalId} - Business Logic Flow -->
  <flow name="get-mobile-financial-summary-business-logic" doc:name="get-mobile-financial-summary-business-logic">
    <try doc:name="Try">
      <scatter-gather doc:name="Scatter-Gather" doc:id="b7d2bb7e-1628-451d-830b-7dd8dcca4034">
        <route>
          <http:request doc:name="Get Customer" doc:id="209b1ec3-c79a-4794-9616-cb935f2a534b" config-ref="Customers_Process_API_Config" path="/api/customers/{customerGlobalId}">
            <http:uri-params><![CDATA[#[output application/java
---
{
  "customerGlobalId": vars.customerGlobalId
}]]]></http:uri-params>
          </http:request>
        </route>
        
        <route>
          <http:request doc:name="Get Financial Summary" doc:id="b8fbb0a9-aed8-4f17-9bb4-b3facb92285a" config-ref="Bank_Accounts_Process_API_Config" path="/api/accounts">
            <http:query-params><![CDATA[#[output application/java
---
{
  "customerGlobalId": vars.customerGlobalId
}]]]></http:query-params>
          </http:request>
        </route>
      </scatter-gather>

      <ee:transform doc:name="Aggregate Financial Summary">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/json
var customer = payload[0]
var financialSummary = payload[1]
var accounts = financialSummary.accounts default []
var creditCards = financialSummary.creditCards default []
var totalBalance = accounts map ($.balance default 0) reduce ($ + $$) default 0
---
{
  customer: {
    globalId: customer.globalId,
    customerNumber: customer.customerNumber,
    name: (customer.party.firstName default "") ++ " " ++ (customer.party.lastName default "")
  },
  totalBalance: totalBalance,
  accounts: accounts map ((account) -> {
    globalId: account.globalId,
    accountNumber: account.accountNumber,
    accountType: account.accountType,
    accountName: account.accountName,
    balance: account.balance,
    availableBalance: account.availableBalance,
    currency: account.currency
  }),
  creditCards: creditCards map ((card) -> {
    globalId: card.globalId default card.id,
    cardNumber: card.cardNumber,
    cardType: card.cardType,
    availableCredit: card.availableCredit,
    creditLimit: card.creditLimit
  })
}]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <set-variable value="200" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
      
      <error-handler>
        <on-error-propagate type="HTTP:CONNECTIVITY" enableNotifications="true" logException="true" doc:name="HTTP Error">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "SERVICE_ERROR",
    message: "An error occurred while fetching financial summary",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- GET /customers/{customerGlobalId}/accounts/{accountGlobalId}/transactions - Get Transactions -->
  <flow name="get-account-transactions-business-logic" doc:name="get-account-transactions-business-logic">
    <try doc:name="Try">
      <http:request config-ref="Bank_Accounts_Process_API_Config" path="/api/accounts/{accountGlobalId}/transactions" doc:name="Get Transactions">
        <http:uri-params><![CDATA[#[{accountGlobalId: vars.accountGlobalId}]]]></http:uri-params>
        <http:query-params><![CDATA[#[{
          limit: vars.limit default attributes.queryParams.limit default "100",
          offset: vars.offset default attributes.queryParams.offset default "0"
        }]]]></http:query-params>
      </http:request>

      <set-variable value="200" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
      
      <error-handler>
        <on-error-propagate type="HTTP:CONNECTIVITY" enableNotifications="true" logException="true" doc:name="HTTP Error">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "SERVICE_ERROR",
    message: "An error occurred while fetching transactions",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- PUT /customers/{customerGlobalId}/accounts/{accountGlobalId}/transactions/{transactionGlobalId}/dispute - Dispute Transaction -->
  <flow name="dispute-transaction-business-logic" doc:name="dispute-transaction-business-logic">
    <ee:transform doc:name="Transform Request">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  disputeStatus: payload.disputeStatus default "PENDING",
  disputeReason: payload.disputeReason default ""
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>
    <try doc:name="Try">
      <http:request method="PUT" config-ref="Bank_Accounts_Process_API_Config" path="/api/accounts/{accountGlobalId}/transactions/{transactionGlobalId}" doc:name="Dispute Transaction">
        <http:uri-params><![CDATA[#[%dw 2.0
output application/java
---
{
    "accountGlobalId": vars.accountGlobalId,
    "transactionGlobalId": vars.transactionGlobalId
  }]]]></http:uri-params>
      </http:request>

      <set-variable value="200" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
      
      <error-handler>
        <on-error-propagate type="HTTP:CONNECTIVITY" enableNotifications="true" logException="true" doc:name="HTTP Error">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "SERVICE_ERROR",
    message: "An error occurred while disputing transaction",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- PUT /customers/{customerGlobalId}/cards/{cardGlobalId}/controls - Update Card Controls -->
  <flow name="update-card-controls-business-logic" doc:name="update-card-controls-business-logic">
    <ee:transform doc:name="Ensure Body">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if (payload != null and payload != "") payload else {}]]></ee:set-payload>
      </ee:message>
    </ee:transform>
    <try doc:name="Try">
      <http:request method="PUT" config-ref="Bank_Accounts_Process_API_Config" path="/api/cards/{cardGlobalId}" doc:name="Update Card Controls">
        <http:uri-params><![CDATA[#[%dw 2.0
output application/java
---
{cardGlobalId: vars.cardGlobalId}]]]></http:uri-params>
      </http:request>

      <set-variable value="200" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
      
      <error-handler>
        <on-error-propagate type="HTTP:CONNECTIVITY" enableNotifications="true" logException="true" doc:name="HTTP Error">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "SERVICE_ERROR",
    message: "An error occurred while updating card controls",
    timestamp: now()
  }
}]]></ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

</mule>
